{% extends 'base.html' %}
{% block title %}
黃鉦鈞的網站
{% endblock %}
{% block titlemessage %}
    <h1>黃鉦鈞的上課用Django示範網站</h1>
{% endblock %}
{% block content %}
        <table class="table table-striped">
          <tr><th>編號</th><th>主題</th><th>張貼時間</th></tr>
          {% for post in posts %}
          <tr>
            <td>{{ post.id }}</td>
            <td>
              <a href="/post/{{post.slug}}/">{{ post.title }}</a>
            </td>
            <td>
              {{ post.pub_date }}
            </td>
          </tr>
          {% endfor %}
        </table>
        本網頁被瀏覽幾次{{ hit_count }}
{% endblock %}
