{% extends 'base.html' %}
{% block title %}
我的統計圖表
{% endblock %}
{% block titlemessage %}
    <h1>我的統計圖表</h1>
{% endblock %}
{% block content %}
<button>
    <a href="/mychart3/">全部顯示(圓餅)</a>
    </button>
    
<button>
    <a href="/mychart2/">全部顯示(水平)</a>
    </button>

    <button class="btn btn-sm">
        <a href="/mychart/">所有分店</a>
    </button>
    {% for s in stores %}
    <button class="btn btn-sm">
        <a href="/mychart/{{s.id}}/">{{s.title}}</a>
    </button>


{% endfor %}
<br>
年份:
<button>
    <a href="/chartbydate/2020/">2020</a>
    </button>

<br>
月份:
<button>
    <a href="/chartbydate/2020/1/">1月</a>
    </button>
<button>
    <a href="/chartbydate/2020/2/">2月</a>
    </button>

<center>
<table width=800>
  <tr><td>
<canvas id="myChart" width="800" height="400"></canvas>
</td></tr>
</table>
</center>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
        {% for item in date %}
            '{{ item.branch}}-{{item.income_month}}',
        {% endfor %}
            ],
        datasets: [{
            label: '{{ title }}',
            data: [
            {% for item in date %}
                '{{ item.income }}',
            {% endfor %}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(153, 202, 255, 0.2)',
                'rgba(153, 102, 245, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 22, 255, 1)',
                'rgba(15, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});


</script>
{% endblock %}